
<h1>Admin Dashboard</h1>
<br>

<h4>Check Products <%= link_to 'Here', '/admin/products' %></h4> <%=@product_count%>
<br>

<h4>Check Categories of <%= link_to 'Here', '/categories/1' %></h4> <%=@category_count%>
